.imgs{
  width: 600px;
  height: 590px;
  margin-left: 30%;
  border: 4px solid ;
  margin-top: 1px;
}
.head{
  font-family: Playfair+Display;
  text-shadow: 1px 2px 2px #ffd16a;
  font-size: 40px;
  text-align: center;
}
body{
  background-color: #e9e5dd;

}



